<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>bilpp-calendar</title>
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div class="main">
        <div class="item-1">
            <img src="svgexport-1.svg" alt="svglogo">

        </div>
        <div class="item-2">

            <form method="POST" action="/users">
                <input type="text" name="name" id="name" placeholder="name" required />
                <input type="text" name="email" id="email" placeholder="email" required />
                <input type="text" name="password" id="password" placeholder="password" required />
                <button>Register</button>
                <a href="/">Login</a>

            </form>
        </div>
    </div>

</body>

</html>