<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/taskPages.css">
    <title>today's tasks</title>
</head>

<body>
    <div class="container">

        <table id="table" border="1">
            <tr>
                <th>Task id</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Task date</th>
                <th>Task Time</th>
            </tr>
        </table>
        <form action="" method="post" id="form">
            <input type="text" name="taskId" required placeholder=" task Id" id="inputId">
            <input type="text" name="taskName" placeholder=" task name" required>
            <input type="text" name="description" placeholder=" task description" required>
            <input type="date" id="dateInput" name="taskDate" value="">
            <input type="time" id="taskTime" name="taskTime">

            <button id="updateButton" type="submit">update a task</button>
        </form>

        <form action="" method="post" id="formDelete">
            <input type="text" name="deleteId" required placeholder=" task Id" id="deleteId">
            <button id="deleteButton" type="submit">delete a task</button>
        </form>
    </div>
    <script src="http://localhost:3000/js/table.js"></script>
    <script src="http://localhost:3000/js/patchRouter.js"></script>
</body>

</html>